.DS_Store

# dotnet core
bin/
obj/
project.lock.json
NuGetScratch/

api/wwwroot/**
!api/wwwroot/scratch.html
!api/wwwroot/favicon.ico

# node
node_modules/
typings/
npm-debug.log
.env

# client-react
ClientApp/build
appsettings.json

# ops
ops/hosts
ops/config.yml
ops/*.retry

# other


# IDE
.idea/
